.mainFooter {
    z-index: 10;
    color: #ccc;

    .mainFooterContent {
        background-color: #222;
        height: 300px;
        padding: 50px 200px;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        
    
        .footerItem {
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: left;
    
            .socialMedia {
                width: 150px;
                font-size: 24px;
    
                display: flex;
                gap: 16px;

                svg {
                    transition: 0.2s ease;

                    &:hover {
                        scale: 1.1;
                    }
                }
            }

            .columnDirDiv {
                max-width: 250px;
                display: flex;
                flex-direction: column;
                gap: 4px;
            }

            .footerMenu {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
    
            .contactMethod {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }

    .copyAndCredits {
        background-color: #333;
        padding: 20px 200px;
        text-align: center;
        font-size: 14px;
        
        display: flex;
        justify-content: space-between;

        .devInfo {
            display: flex;
            gap: 4px;

            .devInfoLink {
                color: #fff;
                display: flex;
                gap: 4px;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .mainFooter {
        .mainFooterContent {
            font-size: 14px;
            padding: 50px;
        }   

        .copyAndCredits {
            padding: 20px 40px;
        }
    }
}

@media screen and (max-width: 768px) {
    .mainFooter {
        .mainFooterContent {
            height: auto;
            display: flex;
            flex-direction: column;
            font-size: 14px;
            padding: 20px;

            .footerItem {
                gap: 8px;
                padding: 30px 0;

                .socialMedia {
                    margin-top: 8px;
                    gap: 8px;
                }

                .footerMenu, .contactMethod {
                    display: flex;
                    flex-direction: row;
                    gap: 8px;
                }
            }
        }   

        .copyAndCredits {
            padding: 20px 40px;
            font-size: 10px;
            flex-direction: column;
            align-items: center;
        }
    }
}