.mainHeader {
    height: 100px;
    padding: 0 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;

    .logoHomeLink {
        width: 200px;
        height: 35px;

        .logo {
            width: 100%;
            height: 100%;
            background: url('/logo.png');
            background-size: 200px 35px;
        }
    }

    

    .mainMenu {
        display: flex;
        justify-content: center;

        .mainMenuItem {
            list-style: none;

            a {
                padding: 32px 12px;
                background-color: #fff;
                border-color: transparent;

                transition: border-color 0.2s;

                &:hover {
                    filter: brightness(0.9);
                    border-bottom: 8px solid #ab0;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mainHeader {
        padding: 0 30px;
        
        .logoHomeLink {
            width: 50px;
            height: 50px;

            .logo {
                background: url('/favicon.png');
                background-size: 50px 50px;
            }
            
        }

        .mainMenu {

            .mainMenuItem {
    
                a {
                    font-size: 14px;
                    padding: 32px 8px;
                }
            }
        }
    }
}